<h1>You Pragmatic Catelog</h1>
<%= div_for @products do |product| %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title">
        <%= product.title %>
      </div>
    </div>

    <div class="panel-body" style="position: relative">
      <div class="media">
        <span class="pull-left">
          <%= image_tag product.image_url %>
        </span>

        <div class="media-body description">
          <%= sanitize product.description %>
        </div>

        <span class="pull-bottom">
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success' %>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </span>
      </div>
    </div>
  </div>
<% end %>
